<%- include('partials/header', { title: 'TripMate | About Our Company' }) %>
<%- include('partials/navbar') %>
<body class="light-navbar"></body>
    <section class="contact-success">
        <div class="container" style="text-align:center;padding:100px 20px;">
            <h2>Thank You!</h2>
            <p>Your message has been sent. One of our advisors will get back to you shortly.</p> 
            
        </div>
    </section> <%- include('partials/footer') %>